.container {
    margin-top: 100px;
}
.box {
    background-color: #C4C4C4;
    float: right;
    border-radius: 35px;
    width: 280px;
    height: 484px;
    padding: 13px;
}

.side-left {
    float: left;
    margin: 180px auto;
}

.text-box {
    width: auto;
    height: 56px;
    text-align: right;
    font-size: 45px;
    background-color: #ffffff;
    border-radius: 20px;
}
.d-box {
    background-color: #ffffff;
    border-radius: 20px;
}
.btn-box {
    padding-top: 20px;
    margin: 10px auto;
    text-align: center;
}

.btn-calc {
    border-radius: 30px;
    border: none;
    width: 50px;
    height: 50px;
    background-color: black;
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
}
.last {
    background-color: #FFA133;
    margin-right: 0px;
}
.pt-0 {
   padding-top: 0;
}
.btn-n0 {
    width: 106px;
}
.mb-0 {
    margin: -15px 0;
}
.dev-info {
    background: #ffffff;
    border-radius: 20px;
    width: 150px;
    height: 18px;
    font-size: 0.6em;
    margin-top: 65px;
}
